button:focus {
    outline: none;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.bg-dialog {
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='width:100%; height:50px; opacity: 0.5;'><rect fill='#000' x='0' y='0' width='100%' height='100%'/></svg>");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: cover;
}

.p-5{
    padding: 5px;
}
.p-t5{
    padding-top: 5px;
}
.p-l5{
    padding-left: 5px;
}
.p-r5{
    padding-right: 5px;
}
.p-b5{
    padding-bottom: 5px;
}

/******************
 * 方向箭头
 ******************/

.arrow {
    z-index: 10;
    border-width: 9px;
}

.arrow,
.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.arrow:after {
    content: '';
    border-width: 8px;
}

.arrow.top {
    top: -8px;
    left: 50%;
    margin-left: -8px;
    border-top-width: 0;
    /*border-bottom-color: rgba(0, 0, 0, .1);*/
}

.arrow.top:after {
    top: 1px;
    margin-left: -8px;
    border-top-width: 0;
    border-bottom-color: #fff;
}

.arrow.right {
    top: 50%;
    right: -8px;
    margin-top: -8px;
    border-right-width: 0;
    /*border-left-color: rgba(0, 0, 0, .1);*/
}

.arrow.right:after {
    right: 1px;
    bottom: -8px;
    border-right-width: 0;
    border-left-color: #fff;
}

.arrow.bottom {
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
    border-bottom-width: 0;
}

.arrow.bottom:after {
    bottom: 1px;
    margin-left: -8px;
    border-top-color: #fff;
    border-bottom-width: 0;
}

.arrow.left {
    top: 50%;
    left: -8px;
    margin-top: -8px;
    /*border-right-color: rgba(0, 0, 0, .1);*/
    border-left-width: 0;
}

.arrow.left:after {
    bottom: -8px;
    left: 1px;
    border-right-color: #fff;
    border-left-width: 0;
}

.arrow.pull-left {
    left: 19px;
}

.arrow.pull-right {
    right: 19px;
    left: auto;
}

.arrow.pull-up {
    top: 20px;
}

.arrow.pull-down {
    top: auto;
    bottom: 19px;
}

.arrow.top.arrow-white:after {
    border-bottom-color: #fff;
}

.arrow.top.arrow-green:after {
    border-bottom-color: #4cd964;
}

.arrow.right.arrow-white:after {
    border-left-color: #fff;
}

.arrow.right.arrow-green:after {
    border-left-color: #4cd964;
}

.arrow.bottom.arrow-white:after {
    border-top-color: #fff;
}

.arrow.bottom.arrow-green:after {
    border-top-color: #4cd964;
}

.arrow.left.arrow-white:after {
    border-right-color: #fff;
}

.arrow.left.arrow-green:after {
    border-right-color: #4cd964;
}


/******************
 * 小红点
 ******************/

i.dot {
    display: block;
    color: #f05050;
    background-color: #f05050;
    position: absolute;
    width: 8px;
    height: 8px;
    margin: 2px;
    border-radius: 100%;
}

i.top {
    top: 50%;
    margin: -9px 22px 0;
    right: 0;
    bottom: auto;
    left: 50%;
}


/******************
 * 滤镜效果
 ******************/

.filter-blur {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.filter-gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}


/******************
 * 返回页顶
 ******************/

#scrollUp {
    top: inherit;
    bottom: 10px;
    right: 10px;
    height: 38px;
    width: 38px;
    background: url(../img/top.png) no-repeat;
}

#scrollUp span {
    font-size: 30px;
    color: #000;
}

#scrollUp:hover span {
    color: #fe5d0e;
}
