body {
	background-color: #282828;
}
.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925;
}
.btn-danger:hover {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.navbar-default {
	background: #393939;
}
.form-group input.form-control {
	background-color: #313131;
	border-color: #444;
}
#detail .btn-default,
.navbar-collapse .btn-default {
	color: #999;
	background-color: #313131;
	border-color: #444;
}
#detail .btn-default:hover,
#search.navbar-form .btn-default:hover,
.navbar-collapse .btn-default:hover {
	color: #f60;
	background-color: #222;
}
#detail .detail-header .btn-default{
	border-color: #666;
}
#detail .close-btn{
	color: #333;
}
#footer {
/*  background-color: #222;
  border-top: 1px #333 solid;*/
}
.list-grid > li > div {
	background: #393939;
}
.list-grid > li > div a {
	border-bottom: 1px solid #333;
}
.list-grid h3 {
	color: #fff;
}
.list-grid p {
	color: #999;
}
.list-grid .item-icons span {
    color: #999;
}
.small-li{
    border-top: 1px solid #444; 
}
.small-li:hover {
	background: #353535;
}
.small-li .s_n {
	color: #f60;
}
.small-li .s_n em {
	color: #ccc;
}
/*分页*/
.pagination > li a{
	border-color: #444;
	background-color: #393939;
	color: #999;
}
.pagination > li a:hover,
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	background-color: #222;
	border-color: #444;
	color: #f60;
}

/*airdialog对话框*/
.ui-popup-modal .ui-dialog {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
}
.ui-dialog {
	color: #ccc;
    background-color: #393939;
    border: 1px solid #444;
}
.ui-dialog a{
	color: #ccc;
}
.ui-dialog-header {
	border-bottom: 1px solid #333;
}
.close,
.ui-dialog-close {
	color: #ccc;
}
.close:hover,
.ui-dialog-close:hover {
	color: #f60;
}
.ui-popup-bottom-left .ui-dialog-arrow-a, 
.ui-popup-bottom .ui-dialog-arrow-a, 
.ui-popup-bottom-right .ui-dialog-arrow-a{
    border-bottom: 8px solid #444;
}
.ui-popup-bottom-left .ui-dialog-arrow-b, 
.ui-popup-bottom .ui-dialog-arrow-b, 
.ui-popup-bottom-right .ui-dialog-arrow-b {
    border-bottom: 8px solid #393939;
}
.ui-popup-right-top .ui-dialog-arrow-a, 
.ui-popup-right .ui-dialog-arrow-a, 
.ui-popup-right-bottom .ui-dialog-arrow-a {
    border-right: 8px solid #444;
}
.ui-popup-right-top .ui-dialog-arrow-b, 
.ui-popup-right .ui-dialog-arrow-b, 
.ui-popup-right-bottom .ui-dialog-arrow-b {
    border-right: 8px solid #393939;
}
/*左边栏面板*/
#left-div .panel-default{
    background-color: #444;
	border-color: #444;
	color: #ccc;
}
#left-div .panel-default > .panel-heading {
	color: #666;
	background-color: #333;
	border-color: #444;
}
#left-div .list-group-item {
	background-color: transparent;
	border: none;
	margin: 0;
	color: #ccc;
	/*border-top: 1px solid #393939;*/
	border-bottom: 1px solid #555;
}
#left-div .list-group-item:hover {
	background-color: #393939;
}
/*下拉菜单*/
.dropdown-menu{
	background-color: #f3f3f3;
	min-width: 150px;
}
.dropdown-menu > li > a i{
	color: #999;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:hover i{
	color: #fff !important;
}
/*注册登录*/
.user-div .ui-dialog-header{
    background-color: #333;
}
/*个人中心*/
#mine .pull-none-xs .circle{
    text-shadow: -1px -1px 0px #333;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='width:100%; height:50px; opacity: 0.8;'><rect fill='#333' x='0' y='0' width='100%' height='100%'/></svg>");
    color: #999;
    -webkit-box-shadow: none;
    box-shadow: none;
}