@charset "utf-8";
/* CSS Document */
/****************************已登录已关注样式表*********************************/	
.left .last ul.huihua{
	position:relative;
	width:240px;
	font-family:"微软雅黑";}
	
.left .last ul.huihua li{
	position:relative;
	width:240px;
	height:56px;
	margin:0;
	border-bottom:1px solid #fafafa;
	overflow:hidden;}	
	
.left .last ul.huihua li a{
	width:240px;
	height:56px;
	background-color:#fff;
}
.left .last ul.huihua li a span{color:#888888;}
.left .last ul.huihua li a p{color:#333333;}
.left .last ul.huihua li a:hover{
	background-color:#fff7e6;}

.left .last ul.huihua li dl{
	width:92%;
	margin:0 auto;}
	
.left .last ul.huihua li dl dt{
	float:left;
	padding-top:10px;}
	
.left .last ul.huihua li dl dd {
	float:left;
	padding-top:10px;
	margin-left:10px;}
	
.left .last ul.huihua li dl dd div{
	font-size:14px;
	color:#333;
	overflow:hidden;}
	
.left .last ul.huihua li dl dd div p{
	float:left;
	margin-bottom: 0;
	margin-top: 0;
	margin-right:3px;}
	
.left .last ul.huihua li dl dd div img{
	margin-top:5px;}
	
.left .last ul.huihua li dl dd span{
	font-size:12px;
	line-height:18px;
	color:#888888;
	margin-top: -1px;
}
	
.left .last ul.huihua li a>div{
	position:absolute;
	top:12px;
	right:4%;
	width:26px;
	height:16px;
	border-radius:8px;
	-webkit-border-radius:8px;
	background-color:#ffa800;
	font-size:12px;
	font-family:"微软雅黑";
	color:#fff;
	text-align:center;
	line-height:16px;}
	
	
	
	
	
	
	
	