@charset "utf-8";

/* CSS Document */


/**********************************作品******************************************/

/*.works {
    position: relative;
}

.works .works-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}*/

.works-box {
/*    position: absolute;
    left: 25%;
    top: 18px;
    z-index: 99999;*/
    width: 1020px;
    margin: 20px auto;
}


/***********作品主要内容*************/

.works-box .work-main {
    width: 740px;
    float: left;
    margin-right: 10px;
}

.work-main .work-main-box {
    width: 740px;
    background-color: #fff;
}

.work-main-box .title {
    width: 740px;
    height: 60px;
}

.work-main-box .title p {
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 20px;
    color: #333333;
}

.work-main-box .title span {
    margin-left: 20px;
    font-size: 12px;
    color: #888888;
}

.work-main-box .nei {
    width: 740px;
    height: auto;
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #f3f2f2;
}

.work-main-box .nei .works-pic {
    margin-top: 40px;
    margin-left: 40px;
    box-shadow: -1px 5px 12px #999;
}

.work-main-box .nei div {
    width: 70px;
    height: 69px;
    margin-left: 335px;
    margin-top: 40px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    font-size: 12px;
    border: 1px #ff9000 solid;
    overflow: hidden;
}

.work-main-box .nei div a {
    width: 70px;
    height: 70px;
    color: #fff;
}

.work-main-box .nei div img {
    margin-left: 20px;
    padding-top: 18px;
}

.work-main-box .nei div span {
    margin-left: 25px;
    margin-top: 2px;
}

.work-main-box .comment {
    width: 740px;
    background-color: #fbfbfb;
}

.work-main-box .comment img {
    border-radius: 18px;
    -webkit-border-radius: 18px;
}

.work-main-box .comment ul li {
    border-bottom: 1px solid #f3f2f2;
    overflow: hidden;
}

.work-main-box .comment ul li .my {
    padding-left: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.work-main-box .comment ul li .my img {
    float: left;
    margin-right: 20px;
}

.work-main-box .comment ul li .my textarea {
    resize: none;
    width: 622px;
    height: 92px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #e8e7e8;
    background-color: #FFF;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.work-main-box .comment ul li>p {
    width: 68px;
    height: 32px;
    line-height: 30px;
    float: right;
    border: 1px #ff9000 solid;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 22px;
    margin-bottom: 22px;
}

.work-main-box .comment ul li>p a {
    color: #FFF;
}

.work-main-box .comment ul li dl {
    padding: 20px;
    overflow: hidden;
}

.work-main-box .comment ul li dl dt {
    float: left;
    margin-right: 10px;
}

.work-main-box .comment ul li dl dd {
    float: left;
    font-size: 12px;
    color: #888888;
    width: 520px;
}

.work-main-box .comment ul li dl dd div {
    color: #d2d2d2;
    overflow: hidden;
}

.work-main-box .comment ul li dl dd p {
    float: left;
    font-size: 14px;
    margin-right: 10px;
}

.work-main-box .comment ul li.last {
    border: none;
    padding-bottom: 10px;
}

.work-main .tui-work {
    width: 750px;
    margin-top: 10px;
    margin-left: -5px;
}

.work-main .tui-work .product {
    box-shadow: none;
}


/***********作品作者信息*************/

.works-box .work-name {
    position: fixed;
    left: ;
    top: ;
    z-index: 99;
    margin-left: 750px;
    width: 220px;
    height: 262px;
    background-color: #fff;
}

.work-name dl {
    width: 180px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}

.work-name dl dt {
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.work-name dl dd {}

.work-name dl dd p {
    font-size: 16px;
    margin-bottom: 0;
}

.work-name dl dd span {
    font-size: 12px;
    color: #888888;
}

.work-name ul {
    width: 180px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.work-name ul li {
    width: 60px;
    text-align: center;
    float: left;
}

.work-name ul li p {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0;
}

.work-name ul li span {
    font-size: 16px;
    color: #333333;
    margin-top: 2px;
}

.work-name div {
    width: 180px;
    height: 36px;
    line-height: 34px;
    margin: 0 auto;
    border_radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    border: 1px #dcdcdc solid;
    font-size: 14px;
}

.work-name div p {
    float: left;
    padding-left: 56px;
    margin-right: 10px;
}

.work-name div img {
    float: left;
    margin-left: 56px;
    margin-top: 10px;
    margin-right: 10px;
}

.work-name div.cheng-bg {
    border: 1px #ff9000 solid;
}

.work-name div a {
    color: #333;
}

.work-name div.cheng-bg a {
    color: #fff;
}


/***********back*************/

.works-box .back {
    position: fixed;
    left: ;
    top: ;
    z-index: 99;
    margin-left: 978px;
    width: 40px;
    float: right;
}

.works-box .back .back-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 97;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: #000;
    opacity: 0.5;
}

.works-box .back a div {
    position: absolute;
    left: 14px;
    top: 13px;
    z-index: 99;
    width: 12px;
    height: 12px;
    color: #fff;
}

.works-box .back a:hover div {
    color: #ffa888;
}

.works-box .back a:hover p {
    opacity: 0.7;
}
