@charset "utf-8";

/* CSS Document */


/****************************登录页面*********************************/

/*.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}*/

/*.denglu {
    position: relative;
}

.denglu-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 990;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}*/

.denglu {
    position: relative;
    position: fixed;
    left: 40%;
    top: 30%;
    z-index: 991;
    width: 490px;
    height: 320px;
}

.denglu .sign {
    width: 440px;
    height: 320px;
    background-color: #FFF;
    padding-left: 100px;
    padding-right: 100px;
    float: left;
}

.denglu .sign .logo {
    margin-top: 30px;
    margin-left: 72px;
}

.denglu .sign ul {
    position: relative;
    margin-top: 15px;
    width: 240px;
}

.denglu .sign ul li {
    position: relative;
    width: 238px;
    height: 34px;
    border: 1px solid #e3e3e3;
    background-color: #f2f2f2;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
}

.denglu .sign ul li input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 998;
    width: 240px;
    height: 36px;
    line-height: 34px;
    outline: none;
    border: none;
    background: none;
    padding-left: 10px;
    font-size: 14px;
    color: #888888;
    font-family: "微软雅黑";
}

.denglu .sign ul li.button {
    border: 1px solid #ff9000;
}

.denglu .sign ul li.button a {
    color: #FFF;
}

.denglu .sign .forget {
    float: left;
    font-size: 14px;
}

.denglu .sign .registered {
    float: right;
    font-size: 14px;
}

.denglu .back {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    overflow: hidden;
}

.denglu .back-bg {
    width: 40px;
    height: 40px;
    background-color: #000;
    opacity: 0.5;
}

.denglu .back a div {
    position: absolute;
    left: 13.5px;
    top: 13px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.denglu .back a:hover div {
    color: #ffa000;
}

.denglu .back a:hover p {
    opacity: 0.7;
}
