@charset "utf-8";
/* CSS Document */
/****************************登录代码样式表*********************************/

.header .registered dl{
	position:relative;
	width:216px;
	height:36px;
	border:1px solid #e3e3e3;
	margin-top:18px;
	margin-right:10px;}
	
.header .registered dl dt{
	float:left;
	width:161px;
	height:34px;
	line-height:34px;
	border-right:1px solid #e3e3e3;
	font-size:16px;
	overflow:hidden;}
	
.header .registered dl dt a{
	font-weight: 500;
	color: #888;
}
.header .registered dl dt a:hover{
	color: #ffa800;
}
	
.header .registered dl dt img{
	float:left;
	height:24px;
	margin-left:10px;
	margin-top:5px;
	margin-right:10px;
	border-radius:12px;
	-webkit-border-radius:12px;}
	
.header .registered dl dd {
	position:relative;
	float:right;}
	
.header .registered dl dd a{
	height:34px;
	width:53px;
	color: #888;
	text-align: center;
	line-height: 34px;
}
	
.header .registered div{
	position:absolute;
	right:0px;
	top:9px;
	width:26px;
	height:16px;
	border-radius:8px;
	-webkit-border-radius:8px;
	background-color:#ffa800;
	font-size:12px;
	color:#fff;
	text-align:center;
	line-height:16px;
	display:block;}

/****************************左边内容*********************************/

.main .left{
	position:fixed;
	left:;
	top:85px;
	bottom:10px;
	z-index:99;
	width:240px;
	background-color:#FFF;
	float:left;
	margin-right:5px;
	margin-left:5px;
	box-shadow:1px 1px 10px #ccc;
	display:block;
	overflow:hidden;}
	
/**********三大类***********/
.left .category{
	overflow:hidden;
	width:240px;
	height:46px;
	margin:0;
}
	
.left .category ul{}
.left .category ul li{
	width:80px;
	height:46px;
	float:left;
	text-align:center;
	font-size:12px;
	cursor:pointer;}
	
.left .category ul li a{
	width:80px;
	height:46px;
	background:none;
	color:#888888;}
	
.left .category ul li a:hover{
	background:none;
	color:#ffa800;}
	
.left .category ul li div{
	margin-top:10px;
	width:18px;
	height:13px;}
	
.left .category ul li div.guanzhu-pic{
	background:url(../images/denglu/denglu_icon1.png) no-repeat;
	background-position:center;
	margin-left:31px;}
	
.left .category ul li div.fensi-pic{
	background:url(../images/denglu/denglu_icon2.png) no-repeat;
	background-position:center;
	margin-left:32px;}
	
.left .category ul li div.huihua-pic{
	background:url(../images/denglu/denglu_icon3.png) no-repeat;
	background-position:center;
	margin-left:32px;}

.left .category ul li a:hover div.guanzhu-pic{
	background: url(../images/denglu/denglu_icon1.png) no-repeat;
	background-position:center;
}
	
.left .category ul li a:hover div.fensi-pic{
	background:url(../images/denglu/denglu_icon2-1.png) no-repeat;
	background-position:center;
}

.left .category ul li a:hover div.huihua-pic{
	background:url(../images/denglu/denglu_icon3-1.png) no-repeat;
	background-position:center;
}

.cheng-txt{ color:#ffa800;}

.left .category .transition{
	margin-top:44px;
	width:80px;
	height:2px;
	background-color:#ffa800;}

/**********搜索框***********/
.left .search{
	position:relative;
	width:240px;
	height:34px;
	line-height:34px;
	background-color:#f4f4f4;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	font-size:12px;
	color:#888888;}
	
.left .search input{
	position:absolute;
	left:0;
	top:0;
	z-index:99;
	width:240px;
	height:34px;
	background:none;
	border:none;
	outline:none;
	padding-left:10px;}
	
.left .search div{
	position:absolute;
	left:10px;
	top:0;
	width:200px;}
	
.left .search div img{
	float:left;
	margin-top:7px;
	margin-right:10px;}

/**********小类目***********/
.left .category-small{
	width:240px;
	margin:0;
	height: 56px;
}
	
.left .category-small ul{
	font-size:16px;}
	
.left .category-small ul li{
	width:240px;
	height:56px;
	line-height:56px;
	overflow: hidden;
}
	
.left .category-small ul li dl{
	width:92%;
	margin:0 auto;}
	
.left .category-small ul li dl dt{
	float:left;
	padding-top:10px;}
	
.left .category-small ul li dl dd p{
	margin-left:10px;
	margin-bottom: 0;
	line-height: 56px;
	float:left;}
	
.left .category-small ul li dl dd span img{
	float:right;
	margin-top:22px;
	padding-right:5px;}
	
.left .category-small ul li a{
	width:240px;
	height:56px;
	line-height:56px;
	background-color:#fff;
}	
		
.left .category-small ul li a:hover{
	background-color:#fff7e6;}		
	
/**********推荐***********/
.left .tuijian{
	width:240px;
	height:36px;
	background-color:#fffbee;
	border-top:1px solid #faf6e9;
	border-bottom:1px solid #faf6e9;
	text-align:center;
	line-height:34px;
	font-size:12px;
	color:#ffa800;}	
	
/**********推荐关注***********/
.left .last{
	position:relative;
	width:240px;}	
	
.left .last ul.tui-guan{
	position:relative;
	width:240px;
	font-size:16px;}
	
.left .last ul.huihua{ display:none;}
	
.left .last ul.tui-guan li{
	position:relative;
	width:240px;
	height:56px;
	margin:0;
	border-bottom:1px solid #fafafa;
	cursor:pointer;}
	
.left .last ul.tui-guan li>a{
	width:240px;
	height:56px;
	background-color:#fff;}	
		
.left .last ul.tui-guan li>a:hover{
	background-color:#fff7e6;}		
	
.left .last ul.tui-guan li dl{
	width:92%;
	margin:0 auto;}
	
.left .last ul.tui-guan li dl dt{
	float:left;
	padding-top:10px;}
	
.left .last ul.tui-guan li dl dd {
	margin-left:10px;
	line-height:56px;
	float:left;}

.left .last ul.tui-guan li div{
	margin-top: 16px;
	margin-right: 10px;
}

/****************************右下角添加*********************************/
.add{
	position:fixed;
	right:1%;
	bottom:20px;
	z-index:99;
	width:64px;
	height:64px;
	line-height:60px;
	border-radius:32px;
	-webkit-border-radius:32px;
	box-shadow:-2px 10px 10px #ccc;
	overflow:hidden;}
	
.add p{
	text-align:center;
	color:#FFF;
	font-family:"微软雅黑";
	font-size:60px;
	font-weight: lighter;}
	
	
	
	

