@charset "utf-8";

/* CSS Document */


/*********************修改自己或者看别人的作品**************************/

.product dl dt {
    position: relative;
}

.product dl dt:hover .xiu {
    display: block;
}

.xiu {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 97;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.product dl dt .xiu .xiu-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 98;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}

.product dl dt .xiu .xiu-nei {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
}

.product dl dt .xiu .xiu-nei a {
    float: left;
    width: 32px;
    height: 32px;
    color: #888;
    padding: 0;
    line-height: 32px;
    text-align: center;
}

.product dl dt .xiu .xiu-nei a:hover {
    color: #ffa000;
}
