@charset "utf-8";
/* CSS Document */
/****************************聊天框代码样式表*********************************/
.left .last ul.huihua li.huang_bg a{
	width:240px;
	height:56px;
	background-color:#fff7e6;}
	
.left {
	position:relative;}
	
.left .liaotain{
	position:fixed;
	left:;
	top:85px;
	z-index:995;
	width:490px;
	height:544px;
	margin-left: 250px;
	border:1px solid #e3e3e3;
	background-color:#FFF;
	box-shadow:1px 1px 5px #ccc;}

/*******聊天框头部***********/	
.liaotain .liao-name{
	width:490px;
	height:56px;
	border-bottom:1px solid #e4e4e4;
	overflow:hidden;}
	
.liaotain .liao-name dl{ float:left}
.liaotain .liao-name dl dt{
	float:left;
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;}
	
.liaotain .liao-name dl dd{
	margin-top:10px;
	width:400px;}
	
.liaotain .liao-name dl dd p{
	font-size:14px;
	color:#333333;
	margin: 0;
}
	
.liaotain .liao-name dl dd span{
	font-size:12px;
	color:#888888;}
	
.liaotain .liao-name>div a{
	float:right;
	width:20px;
	height:20px;
	padding-top: 2px;
	border:1px solid #f4f4f4;
	margin-top:5px;
	margin-right:5px;
	border-radius:2px;
	-webkit-border-radius:2px;
	cursor:pointer;
	text-align: center;
	color: #dedede;
}

.liaotain .liao-name>div a:hover{
	color: #ffa000;
}
	
/*******聊天框内容***********/
.liaotain .liao-nei{
	position:relative;
	width:490px;
	height:358px;
	border-bottom:1px solid #e4e4e4;
	overflow: auto;
	overflow-x:hidden;
}
	
.liaotain .liao-nei ul{
	position:relative;
	padding-left:10px;
	padding-right:10px;
	width:480px;}
	
.liaotain .liao-nei ul li.time{
	height:40px;
	line-height:40px;
	text-align:center;
	color:#d4d4d4;
	font-size:12px;}
	
.liaotain .liao-nei ul li.cleen{
	margin-top:-20px;}
	
.liaotain .liao-nei ul li.he{
	position:relative;
	width:400px;
	margin-bottom:20px;
	overflow:hidden;}	
	
.liaotain .liao-nei ul li.he dl{ width:400px;}	
.liaotain .liao-nei ul li.he dl dt{
	position:relative;
	float:left;
	margin-right:20px;}
	
.liaotain .liao-nei ul li.he dl dd{
	position:relative;
	float:left;
	line-height:18px;
	font-size:12px;
	color:#455864;
	background-color:#e7f6ff;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding:12px 20px;}

.liaotain .liao-nei ul li.he dl dd span{}
	
.liaotain .liao-nei ul li.he dl dd div{
	position:absolute;
	left:-10px;
	top:10px;
	z-index:-1;
	width:0;
	height:0;
	font-size:0;
	border:solid 8px;
	border-color:#e7f6ff #e7f6ff #fff #fff;}
		
.liaotain .liao-nei ul li.my{
	position:relative;
	width:400px;
	float:right;
	margin-bottom:20px;
	overflow:hidden;
}	
	
.liaotain .liao-nei ul li.my dl{}	
	
.liaotain .liao-nei ul li.my dl dt{
	position:relative;
	float:right;
	margin-left:20px;}
	
.liaotain .liao-nei ul li.my dl dd{
	position:relative;
	float:right;
	line-height:18px;
	font-size:12px;
	color:#333333;
	background-color:#f8f8f8;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding:12px 20px;}

.liaotain .liao-nei ul li.my dl dd span{}
	
.liaotain .liao-nei ul li.my dl dd div{
	position:absolute;
	right:-10px;
	top:10px;
	z-index:-1;
	width:0;
	height:0;
	font-size:0;
	border:solid 8px;
	border-color:#f8f8f8 #fff #fff #f8f8f8;}
	
/*******填写内容***********/
.liaotain .liao-xie{
	position:relative;
	width:490px;
	overflow:hidden;}

.liaotain .liao-xie .biaoqing a{
	width:100%;
	width:16px;
	height:16px;
	margin-left:8px;
	margin-top:8px;
	margin-bottom:10px;
	background:url(../images/denglu/biaoqing_icon.png) no-repeat;
	background-position:center;
}
.liaotain .liao-xie .biaoqing a:hover{
	background:url(../images/denglu/biaoqing_icon-1.png) no-repeat;
	background-position:center;}
	
.liaotain .liao-xie .textarea{
	margin-left:10px;
	width:400px;
	height:90px;
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	line-height:20px;
	color:#3333333;
	outline:none;
	border:none;
	background:none;
	resize:none;}
	
.liaotain .liao-xie .send-but{
	margin-right:10px;
	float:right;
	width:68px;
	height:32px;
	margin-top:50px;
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:12px;
	border:1px #ff9000 solid;}
	
.liaotain .liao-xie a{
	color:#fff;}
	
	
	
	
	