@charset "utf-8";

/* CSS Document */


/**********************loading*****************************/

.loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.loading .bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
}

.loading .box {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 64px;
    height: 64px;
    margin: -32px auto auto -32px;
    overflow: hidden;
}

.loading .box .box-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 64px;
    height: 64px;
    background-color: #000;
    opacity: 0.5;
}

.loading .box .quan img {
    margin-top: 16px;
    margin-left: 16px;
    overflow: hidden;
}
