@charset "utf-8";
/* CSS Document */
/****************************公用代码样式表*********************************/
*{
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	height: 100%;
	background-color: #eee;
	font-family: "微软雅黑";
}
a, ul, li, dl, dt, dd, img, p, span {
	display: block;
}
ul, li {
	list-style: none;
}
a,a:hover{
	text-decoration: none;
	cursor:pointer;
}
/*font-color*/
.color-yello{
	color: #f90;
}
/*margin*/
.m-5{
	margin: 5px;
}
.m-t5{
	margin-top: 5px;
}
.m-l5{
	margin-left: 5px;
}
.m-r5{
	margin-right: 5px;
}
.m-b5{
	margin-bottom: 5px;
}
.m-10{
	margin: 10px;
}
.m-t10{
	margin-top: 10px;
}
.m-l10{
	margin-left: 10px;
}
.m-r10{
	margin-right: 10px;
}
.m-b10{
	margin-bottom: 10px;
}
.container-fluid {
    padding: 0px;
    margin: 0px auto;
}

#left-div {
    position: fixed;
    top: 65px;
    bottom: 10px;
}

#left-div > div {
    margin: 0 7px;
    width: 236px;
}

#left-div,
.item {
    width: 250px;
}

@media (min-width: 512px) and (max-width: 761px) {
    .container-fluid {
        width: 500px;
    }
    #left-div ~ #container-div {
        margin-left: 50%;
        width: 50%;
    }
}

@media (min-width: 762px) and (max-width: 1011px) {

    .container-fluid {
        width: 750px;
    }
    #left-div ~ #container-div {
        margin-left: 33.333%;
        width: 66.666%;
    }
}

@media (min-width: 1012px) and (max-width: 1261px) {

   .container-fluid {
        width: 1000px;
    }
    #left-div ~ #container-div {
        margin-left: 25%;
        width: 75%;
    }
}

@media (min-width: 1262px) and (max-width: 1499px) {

    .container-fluid {
        width: 1250px;
    }
    #left-div ~ #container-div {
        margin-left: 20%;
        width: 80%;
    }
}

@media (min-width: 1512px) and (max-width: 1749px) {

    .container-fluid {
        width: 1500px;
    }
    #left-div ~ #container-div {
        margin-left: 16.666%;
        width: 83.333%;
    }
}

@media (min-width: 1762px) and (max-width: 1999px) {

    .container-fluid {
        width: 1750px;
    }
    #left-div ~ #container-div {
        margin-left: 14.285%;
        width: 85.715%;
    }
}

@media (min-width: 2012px) and (max-width: 2249px) {

    .container-fluid {
        width: 2000px;
    }
    #left-div ~ #container-div {
        margin-left: 12.5%;
        width: 87.5%;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spin {
    -webkit-animation: spin 1s linear 0s infinite;
    animation: spin 1s linear 0s infinite;
}


/***********渐变背景样式*************/	
.bai-bg {
	background-image: -moz-linear-gradient(top, #fff, #fbfbfb, #f7f7f7); /* Firefox */
	background-image: -webkit-linear-gradient(top, #fff, #fbfbfb, #f7f7f7); /* Saf4+, Chrome */
}

.bai-bg a{
	background-image: -moz-linear-gradient(top, #fff, #fbfbfb, #f7f7f7); /* Firefox */
	background-image: -webkit-linear-gradient(top, #fff, #fbfbfb, #f7f7f7); /* Saf4+, Chrome */
}

.bai-bg a:hover{
	background-image: -moz-linear-gradient(top, #f7f7f7, #f6f6f6, #f5f5f5); /* Firefox */
	background-image: -webkit-linear-gradient(top, #f7f7f7, #f6f6f6, #f5f5f5); /* Saf4+, Chrome */
}

.cheng-bg {
	background-image: -moz-linear-gradient(top, #ffb000, #ffa800, #ffa000); /* Firefox */
	background-image: -webkit-linear-gradient(top, #ffb000, #ffa800, #ffa000); /* Saf4+, Chrome */
}

.cheng-bg a{
	background-image: -moz-linear-gradient(top, #ffb000, #ffa800, #ffa000); /* Firefox */
	background-image: -webkit-linear-gradient(top, #ffb000, #ffa800, #ffa000); /* Saf4+, Chrome */
}

.cheng-bg a:hover{
	background-image: -moz-linear-gradient(top, #ffb716, #ffaf18, #fdad26); /* Firefox */
	background-image: -webkit-linear-gradient(top, #ffb716, #ffaf18, #fdad26); /* Saf4+, Chrome */
}

/***********圆角样式*************/	
.radius5{
	border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;}

.radius2{
	border-radius:2px;
	-webkit-border-radius:2px;
	overflow:hidden;}

.radius14{
	border-radius:14px;
	-webkit-border-radius:14px;
	overflow:hidden;}
		
.radius18{
	width:36px;
	height:36px;
	border-radius:18px;
	-webkit-border-radius:18px;
	overflow:hidden;}
	
/***********字体样式*************/	
.zi8 a{ color:#888888;}
.zi8 a:hover{ color:#ffa000;}

.zi3 a{ color:#333333;}
.zi3 a:hover{ color:#ffa000;}

.zia a{ color:#ffa000;}
.zia a:hover{ color:#333333;}

/****************************头部*********************************/
header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 72px;
	margin: 0;
	padding: 0;
	box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.header {
	position: relative;
	margin: 0 auto;
}
.header .logo {
	width: 100px;
	height:72px;
	margin-left:75px;
	padding: 0;
	overflow:hidden;
	float:left;
}
.header .logo img {
	width: 100%;
}
.header .search {
	position:absolute;
	left:0;
	right:0;
	top:18px;
	height: 36px;
	margin-left:255px;
	margin-right:250px;
	line-height: 34px;
	border:1px solid #e3e3e3;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.header .search dl {
	position: relative;
}
.header .search dl dt {
	width: 53px;
	height: 34px;
	border-right: 1px #dcdcdc solid;
	overflow:hidden;
	border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
}
.header .search dl dt div {
	width: 52px;
	height: 34px;
}
.header .search dl dt a{
	background:url(../images/search_button.png) no-repeat;
	background-position:center;
}
.header .search dl dt a:hover{
	background:url(../images/search_button-1.png) #f2f2f2 no-repeat;
	background-position:center;
}

.header .search dl dd {
	position: absolute;
	left:53px;
	right:0;
	top:0;
	margin:0;
	height: 34px;
	line-height:34px;
	background-color: #f2f2f2;
}

.header .search dl dd input {
	width:100%;
	background:none;
	height: 34px;
	line-height: 34px;
	border: none;
	outline: 0;
	font-size: 14px;
	color: #888;
	padding:0;
	padding-left:10px;
}
.header .search-bg dl dd input{
	background:url(../images/search_bg.png) no-repeat;
	background-position:center;
}
.header .search-bg dl dd input:focus{
	background:none;
}

.header .search dl dd .key-change{
	position: absolute;
	left:10px;
	top: 0;
	z-index: 999;
	margin-top:5px;
}
.header .search dl dd .key-change li{
	float:left;
	padding-left:10px;
	padding-right:5px;
	font-size:12px;
	height:24px;
	line-height:24px;
	margin-right:10px;
	background-color:#FFF;
}
.header .search dl dd .key-change li a{
	float:right;
	margin-left:10px;
	width:16px;
	height:16px;
	background-image: none;
	background: #000;
	text-align: center;
}

.header .search dl dd .key-change li  a {
	width:16px;
	height:16px;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	border-radius:8px;
	-webkit-border-radius:8px;
	background:#ccc;
	color: #fff;
	overflow: hidden;
	margin-top: 4px;
}

.header .search dl dd .key-change li  a:hover {
	color: #fff;
	background:#ffa800;
}
	
 
.header .search dl dd .key{
	position: absolute;
	left:0px;
	top:36px;
	z-index:99;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.header .search dl dd .key .key-lei{
	overflow:hidden;	
	width:168px;
	margin-left:40%;
	margin-top:10px;
	border:1px solid #dedede;}
		
.header .search dl dd .key .key-lei li{
	width:83px;
	height:36px;
	line-height:36px;
	float:left;
	color:#333;
	text-align:center;}
	
.active a{
	background:none;
	background-color:#f5f5f5;
	cursor: default;
	color:#333;
}

.active a:hover{
	background:none;
	background-color:#f5f5f5;
	cursor: default;
	color:#333;
}

.header .search dl dd .key .key-lei li.bian{
	border-right:1px solid #f1f1f1;}

.header .search dl dd .key .key-word{
	overflow:hidden;	
	width:96%;
	margin:0 auto;
	padding-top:10px;
	margin-top:10px;
	margin-bottom:20px;
	border-top:1px solid #f0f0f0;
}

.header .search dl dd .key .key-word li{
	overflow:hidden;
	height:20px;
	line-height:20px;
	margin-right:20px;
	margin-top:5px;
	padding-left:10px;
	padding-right:10px;
	float:left;}
	
.header .search dl dd .key .key-word li a{
	background:none;
	font-size:14px;}

.header .registered {
	float:right;
}
.header .registered ul {
	margin-right:20px;
}

.header .registered ul li{
	width: 98px;
	height: 36px;
	line-height: 34px;
	margin-left: 15px;
	margin-top: 18px;
	float: left;	
	text-align: center;
	border: 1px #e3e3e3 solid;
}
.header .registered ul li a{
	font-size: 14px;
	color: #ffa300;	
}
.header .registered ul li.frist{
	border: 1px #ff9000 solid;
}
.header .registered ul li.frist a{
	color: #fff;
}
/****************************主要内容*********************************/
/*********内容块**********/
.main {
	/*margin: 0 auto;*/
	/*overflow: hidden;*/
}
/*.main > div{
	overflow-y: auto;
	overflow-x: hidden;
}*/
.main > div > div{
	padding-top: 85px;
}
.main .left{ display:none;}
.main .right {
	position: relative;
	overflow:hidden;
}
.product {
	position: relative;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	box-shadow: 1px 1px 10px #ccc;
}
.product dl{
	margin-bottom: 0;
}
.product dl dt {
	width: 240px;
}
.product dl dt img {
	width: 100%;
}

.xiu{
	display:none;}
	
.product dl dd {
	position: relative;
	width: 240px;
	background-color: #fff;
}
.product dl dd .title {
	position: relative;
	width: 92%;
	height: 50px;
	margin: 0 auto;
	border-bottom: 1px solid #f5f5f5;
	padding-top: 10px;
}
.product dl dd .title .radius14{
	float: left;
	width:28px;
	height:28px;
}

.product dl dd .title img {
	width:100%;
}
.product dl dd .title span {
	float: left;
	font-size: 16px;
	margin-left: 7px;
	line-height: 29px;
}

.product dl dd .pro-main {
	width: 92%;
	margin: 10px auto;
}
.product dl dd .pro-main p {
	font-size: 14px;
	color: #333333;
}
.product dl dd .pro-main span {
	line-height: 18px;
	font-size: 12px;
	color: #888888;
}
.product dl dd .pinglun {
	width: 240px;
	height: 30px;
	padding-top: 1px;
	background-color: #f6f6f6;
}
.product dl dd .pinglun ul {
	width: 92%;
	margin: 5px auto;
	font-size: 12px;
	color:#888888;
}
/****************************缓冲*********************************/
.buffer {
	position:relative;
	margin:0 auto;
	margin-top:20px;
}
.buffer .xian {
	position: absolute;
	left: 0;
	top:0;
	z-index: 97;
	width: 100%;
	height: 1px;
	background-color: #e0e0e0;
}
.buffer .quan {
	position: absolute;
	left: 48%;
	top:-15px;
	z-index: 98;
	width: 90px;
	height: 50px;
	padding-left: 30px;
	background-color: #eeeeee;
	overflow:hidden;
}

.buffer .spin{
	width:32px;
	height:32px;}

