<div id="">
<div class="container-fluid">
<!--S 左边主要内容-->
<!--#include file="left.html"-->
<!--E 左边主要内容-->

<!--S 右边主要内容-->
<!--#include file="right.html"-->
<!--E 右边主要内容-->

<div class="buffer container-fluid">
	<div class="xian"></div>
	<div class="quan">
    	<div class="spin"><img src="images/buffer.png"></div>
	</div>
</div>
</div>
</div>