<div class="denglu-bg"></div>
<div class="denglu-main">
    <div class="sign radius5">
        <div class="logo"><img src="images/denglu_logo.png"></div>
        <from>
            <ul>
                <li class="radius5"><input type="text" placeholder="手机号"><a href="#"><div class="ti ti-close"></div></a></li>
                <li class="radius5"><input type="text" placeholder="验证码"><a href="#"><span class="radius5">获取验证码</span></a></li>
                <li class="radius5"><input type="password" placeholder="密码"><a href="#"><div class="ti ti-close"></div></a></li>
                <li class="radius5"><input type="text" placeholder="昵称"><a href="#"><div class="ti ti-close"></div></a></li>
                <li class="button cheng-bg radius5"><a href="#">登录</a></li>
            </ul> 
        </from>

        <div class="other-denglu zi8"><a href="#">其他登录方式</a></div>

        <div class="alert alert-warning alert-dismissible" role="alert" id="alert" style="display:none; position:absolute; left:100px; top:20px;   
        z-index:999; width:240px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p id="txt">提示信息</p>
        </div>
 
    </div> 
</div>