<!-- <header class="bai_bg"> -->
    <!--S 头部-->
    <div class="header container-fluid ">
        <div class="logo"><img src="images/logo.png"></div>
        <!--logo -->
        <div class="search">
            <!-- 搜索框 -->
            <dl>
                <dt class="bai-bg">
                    <a href="#">
                        <div></div>
                    </a>
                </dt>
                <dd>
                    <from>
                        <input type="text" class="search_text">
                    </from>
                    
                    <ul class="key-change">
                        <li class="radius2">gsjfkds<a href="#"><i class='ti ti-close'></i></a></li>
                        <li class="radius2">asdsada<a href="#"><i class='ti ti-close'></i></a></li>
                        <li class="radius2">gwqeryf<a href="#"><i class='ti ti-close'></i></a></li>
                    </ul>
                    <div class="key bai-bg">
                        <ul class="key-lei radius5">
                            <li class="bian active"><a href="#">普通</a></li>
                            <li class="zi3 bai_bg"><a href="#">模板</a></li>
                        </ul>
                        <ul class="key-word">
                            <li class="zi3"><a href="#">广告广告广告广告广告</a></li>
                            <li class="zi3"><a href="#">广广告广告告</a></li>
                            <li class="zi3"><a href="#">广告广告广告广告</a></li>
                            <li class="zi3"><a href="#">广告广告</a></li>
                            <li class="zi3"><a href="#">广告</a></li>
                            <li class="zi3"><a href="#">广告</a></li>
                            <li class="zi3"><a href="#">广告</a></li>
                            <li class="zi3"><a href="#">广告</a></li>
                            <li class="zi3"><a href="#">广告</a></li>
                            <li class="zi3"><a href="#">广告</a></li>
                            <li class="zi3"><a href="#">广告</a></li>
                            <li class="zi3"><a href="#">广告广告广告广告广告</a></li>
                            <li class="zi3"><a href="#">广广告广告告</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <!--注册-->
        <div class="registered">
        	<!-- 未登录状态-->
            <ul>
                <li class="frist radius5 cheng-bg"><a href="#">登录</a></li>
                <li class="radius5 bai-bg"><a href="#">注册</a></li>
            </ul>
            
            <!--已登录状态-->
            <dl class="bai-bg radius5">
                <dt><a href="#"><img src="images/denglu/denglu_icon.png"><span>Stosion</span></a></dt>	
                <dd><a href="#"><i class="fa fa-chevron-down"></i></a></dd>
            </dl>
            <div>5</div>
        </div>
    </div>
<!-- </header> -->
<!--E 头部-->
