<!--S 邀请好友 -->
<div class="invite">
	<div class="invite-bg"></div>

	<div class="invite-friends">
		<div class="invite-title"><img src="images/invite.png"></div>
		<div class="invite-description">通过以下任何一种方式，邀请你的好友注册试用互动大师iH5.com，你将获得30V币奖励，你所邀请的好友将获得10V币奖励</div>
		<div class="invite-main">
			<ul>
				<li class="radius5 pull-left">
					<p>方式1</p>
					<span>打开微信扫描二维码并将H5分享到朋友圈或发给你的好友</span>
					<img src="images/code.png">
				</li>

				<li class="radius5 pull-left m-r10 m-l10">
					<p>方式2</p>
					<span>复制下面注册信息链接，并发送给你的好友</span>
					<ul>
						<li class="radius5"><div>http://www.iH5.cn/user=id23482</div></li>
						<li class="radius5"><button type="button" class="btn btn-default btn-lg btn-block">复制链接</button></li>
					</ul>
				</li>

				<li class="radius5 pull-right">
					<p>方式3</p>
					<span>导入邮件好友列表或直接发送给好友</span>
					<ul>
						<li class="radius5"><div>好友邮箱</div></li>
						<li class="radius5"><button type="button" class="btn btn-default btn-lg btn-block">发送</button></li>
					</ul>
				</li>
			</ul>

			<div class="back">
		        <a href="已登录已关注.html">
		            <p class="back-bg"></p>
		            <div class="ti ti-close"></div>
		        </a>
		     </div>
		</div>
	</div>
</div>
<!--E 邀请好友 -->