<div class="left radius5">
    <!--类目-->
    <div class="category bai-bg">  
        <ul>
            <li><a href="#"><div class="guanzhu-pic"></div><span class="cheng-txt">关注</span></a></li>
            <li><a href="#"><div class="fensi-pic"></div><span>粉丝</span></a></li>
            <li><a href="#"><div class="huihua-pic"></div><span>会话</span></a></li>
        </ul>
        <!--过渡线-->
        <div class="transition"></div>
    </div>

    <!--搜索联系人或会话框-->
    <div class="search">
        <from>    
            <input type="text">
        </from>
        <div><img src="images/search.png"><span>搜索联系人或会话</span></div>
    </div>

    <!--小类目-->
    <div class="category-small">  
        <ul>
            <li class="zi3">
                <a href="#">
                    <dl>
                        <dt><img class="radius18" src="images/denglu/guanzhu_1.png"></dt>
                        <dd><p>邀请好友</p><span><img src="images/zuo.png"></span></dd>
                    </dl>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="tuijian zia"><a href="#">推荐关注</a></div>
    
    <div class="last">
    <!--推荐关注-->
        <ul class="tui-guan zi3">
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18" src="images/denglu/guanzhu_2.png"></dt>
                        <dd class="zi3">大师推荐</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18" src="images/denglu/guanzhu_3.png"></dt>
                        <dd class="zi3">最新作品</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18" src="images/denglu/guanzhu_4.png"></dt>
                        <dd class="zi3">精品模板</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18" src="images/denglu/guanzhu_5.png"></dt>
                        <dd class="zi3">维尼的爱情</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18"  src="images/denglu/guanzhu_6.png"></dt>
                        <dd class="zi3">腾讯ISUX</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18"  src="images/denglu/guanzhu_7.png"></dt>
                        <dd class="zi3">GOGOUP高高手</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18"  src="images/denglu/guanzhu_8.png"></dt>
                        <dd class="zi3">iconsbox</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
            <li>
            	<a href="#">
                    <dl>
                        <dt><img class="radius18"  src="images/denglu/guanzhu_9.png"></dt>
                        <dd class="zi3">Siyan Ren</dd>
                    </dl>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </button>
                    </div>
                </a>
            </li>
        </ul>
        
        <!--会话-->
        <ul class="huihua">
            <li>
                <a href="#">
                <dl>
                    <dt><img class="radius18" src="images/denglu/guanzhu_5.png"></dt>
                    <dd><div><p>维尼的爱情</p></div><span>战斗力只有5的渣渣设计师</span></dd>
                </dl>
                </a>
            </li>
            <li>
                <a href="#">
                <dl>
                    <dt><img class="radius18" src="images/denglu/guanzhu_6.png"></dt>
                    <dd><div><p>腾讯ISUX</p><img src="images/denglu/guanzhu_sbiaoti.png"></div><span>腾讯社交用户体验设计</span></dd>
                </dl>
                <div>5</div>
                </a>
            </li>
            <li>
                <a href="#">
                <dl>
                    <dt><img class="radius18" src="images/denglu/guanzhu_7.png"></dt>
                    <dd><div><p>GOGOUP高高手</p></div><span>致力提供线上及线下美学课程</span></dd>
                </dl>
                </a>
            </li>
            <li>
                <a href="#">
                <dl>
                    <dt><img class="radius18" src="images/denglu/guanzhu_8.png"></dt>
                    <dd><div><p>iconsbox</p></div><span>--=逆水行舟不进则退=--</span></dd>
                </dl>
                </a>
            </li>
            <li>
                <a href="#">
                <dl>
                    <dt><img class="radius18" src="images/denglu/guanzhu_9.png"></dt>
                    <dd><div><p>Siyan Ren</p></div><span>德玛西亚！</span></dd>
                </dl>
                </a>
            </li>
            <li>
                <a href="#">
                <dl>
                    <dt><img class="radius18" src="images/denglu/guanzhu_10.png"></dt>
                    <dd><div><p>败犬之哀鸣</p><img src="images/denglu/guanzhu_sbiaoti.png"></div><span>哈子卡西</span></dd>
                </dl>
                </a>
            </li>
            <li>
                <a href="#">
                <dl>
                    <dt><img class="radius18" src="images/denglu/guanzhu_11.png"></dt>
                    <dd><div><p>好人小徐</p></div><span>技术宅穷学生臭屌丝一枚，承接..</span></dd>
                </dl>
                </a>
            </li>
        </ul>
    </div>

    <!--S 聊天框-->
    <div class="liaotain radius5">
        <!--聊天者-->
        <div class="liao-name bai-bg">
            <dl>
                <dt><img class="radius18" src="images/denglu/guanzhu_11.png"></dt>
                <dd>
                    <p>好人小徐</p>
                    <span>技术宅穷学生臭屌丝一枚，承接H5项目！</span>
                </dd>
            </dl>
            <div>
                <a href="#"><div class="ti ti-close"></div></a>
            </div>
        </div>
        
        <!--聊天内容-->
        <div class="liao-nei">
            <ul>
                <li class="time">23:55</li>
                <li class="he">
                    <dl>
                        <dt><img class="radius18"  src="images/denglu/guanzhu_11.png"></dt>
                        <dd><div></div><span>话说梦幻H5这个真是朋友圈洗脑神曲</span></dd>
                    </dl>
                </li>
                <li class="my">
                    <dl>
                        <dt><img  class="radius18" src="images/denglu/guanzhu_5.png"></dt>
                        <dd><div></div><span>=.= 你也看了？</span></dd>
                    </dl>
                </li>
                <li class="he">
                    <dl>
                        <dt><img class="radius18"  src="images/denglu/guanzhu_11.png"></dt>
                        <dd><div></div><span>NND,当时跟团队也聊过这个想法，最后都没做出来，<br/>想到和做到真是差得好远哦</span></dd>
                    </dl>
                </li>
                
                <li class="time cleen">00:00</li>
                <li class="my">
                    <dl>
                        <dt><img class="radius18"  src="images/denglu/guanzhu_5.png"></dt>
                        <dd><div></div><span>orz，反正我跪着听完的</span></dd>
                    </dl>
                </li>
                <li class="he">
                    <dl>
                        <dt><img  class="radius18" src="images/denglu/guanzhu_11.png"></dt>
                        <dd><div></div><span>写这词儿的人是哭着写的吧</span></dd>
                    </dl>
                </li>
            </ul>
        </div>
        
        <!--填写聊天内容-->
        <div class="liao-xie">
            <div class="biaoqing"><a href="#"></a></div>
            <div class="textarea" contenteditable="true"></div>  
            <div class="send-but cheng-bg radius5"><a href="#">发送</a></div>
        </div>
    </div>
    <!--E 聊天框-->
</div>