<!--S 别人主页 -->
<div class="other-home">
    <div class="home radius5">
        <!--S 主页头部 -->
    	<div class="home-header">
    		<div class="home-main">
    			<div class="home-name-pic"><img src="../images/home_name_pic.png"></div>
                
                <ul class="home-name">
                	<li class="name">Stosion</li>
                    <li class="grade violet-bg radius2">PRO</li>
                    <li class="grade yellow-bg radius2">LV12</li>
                </ul>
                
                <div class="address"><a href="#">http://dribbble.com/stosion</a></div>
                
                <ul class="home-news">
                    <li>
                        <p>关注</p>
                        <span>315</span>
                    </li>
                    <li>
                        <p>粉丝</p>
                        <span>9527</span>
                    </li>
                    <li>
                        <p>作品</p>
                        <span>21</span>
                    </li>
                </ul>
                
                <ul class="home-guanzhu">
                	<li class="cheng-bg radius5"><a href="#"><p>+</p><span>关&nbsp;&nbsp;&nbsp;注</span></a></li>
                    <li class="last bai-bg radius5"><a href="#"><img src="images/denglu/denglu_icon3.png"><span>会&nbsp;&nbsp;&nbsp;话</span></a></li>
                </ul>
    		</div>

    		<div class="home-xiu">
    			<a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
    		</div>
    	</div>
        <!--E 主页头部 -->

        <!--S 主页分类 -->
    	<div class="home-classify">
    		<ul class="zi8">
            	<li class="cheng-txt"><a href="#">所有作品</a></li>
                <li><a href="#">文件夹</a></li>
                <li><a href="#">收藏夹</a></li>
            </ul>
            <div class="transition"></div>
    	</div>
        <!--E 主页分类 -->
    </div>
</div>
<!--E 别人主页 -->