<div class="right">
    <div class="product radius5">
        <dl>
            <!--主图-->
            <dt>
                <a href="#"><img src="images/product_1.png"></a>
                <!--看别人的作品-->
                <div class="xiu">
                    <a href="#"><div class="xiu-bg"></div></a>
                    <div class="xiu-nei m-5">
                        <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                        <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </dt>

            <!--内容-->
            <dd>
                <!--标题-->
                <div class="title">
                    <div class="radius14"><img src="images/product_s1.png"></div>
                    <span class="zi3"><a href="作品.html">QQ音乐</a></span>
                    <div class="pull-right m-t5">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </a>
                    </div>
                </div>

                <!--描述-->
                <div class="pro-main">
                    <p>MONTY ARE I</p>
                    <span>Monty Are I is titled after the band instructor, Arthur Montanaro. The "Are I" portion of the name is...</span>
                </div>

                <!--人数-->
                <div class="pinglun">                
                    <ul class="list-inline">
                        <li><i class="fa fa-eye"></i> 73485</li>
                        <li><i class="fa fa-heart"></i> 1238</li>
                        <li><i class="fa fa-comment"></i> 4346</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    
    <div class="product radius5">
        <dl>
            <!--主图-->
            <dt>
                <a href="#"><img src="images/product_2.png"></a>
                <!--自己的作品-->
                <div class="xiu">
                    <a href="#"><div class="xiu-bg"></div></a>
                    <div class="xiu-nei m-5">
                        <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                        <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </dt>

            <!--内容-->
            <dd>
                <!--标题-->           
                <div class="title">
                    <div class="radius14"><img src="images/product_s2.png"></div>
                    <span class="zi3"><a href="#">UI中国</a></span>
                    <div class="pull-right m-t5">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </a>
                    </div>
                </div>

                <!--描述-->
                <div class="pro-main">
                    <p>更多混合图形设计灵感</p>
                    <span>我们的平面设计部分是从北方的更频繁更新的类别之一，并包含一个很好的混合设计灵感来自不同的设计领域。</span>
                </div>

                <!--人数-->
                <div class="pinglun">
                    <ul class="list-inline">
                        <li><i class="fa fa-eye"></i> 73485</li>
                        <li><i class="fa fa-heart"></i> 1238</li>
                        <li><i class="fa fa-comment"></i> 4346</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    
    <div class="product radius5">
        <dl>
            <!--主图-->
             <dt>
                <a href="#"><img src="images/product_3.png"></a>
                <!--别人的作品-->
                <div class="xiu">
                    <a href="#"><div class="xiu-bg"></div></a>
                    <div class="xiu-nei m-5">
                        <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                        <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </dt>

            <!--内容-->
            <dd>
                <!--标题-->
                <div class="title">
                    <div class="radius14"><img src="images/product_s3.png"></div>
                    <span class="zi3"><a href="#">Paul Flavius Nec</a></span>
                    <div class="pull-right m-t5">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </a>
                    </div>
                </div>
                
                <!--描述-->
                <div class="pro-main">
                    <p>Day 026 - Event Box</p>
                    <span>This is day 026.My challenge for today is an Event Box.I invite you all to rebound this shot and create your...</span>
                </div>

                <!--人数-->
                <div class="pinglun">
                    <ul class="list-inline">
                        <li><i class="fa fa-eye"></i> 73485</li>
                        <li><i class="fa fa-heart"></i> 1238</li>
                        <li><i class="fa fa-comment"></i> 4346</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    
    <div class="product radius5">
        <dl>
            <!--主图-->
             <dt>
                <a href="#"><img src="images/product_4.png"></a>
                <!--别人的作品-->
                <div class="xiu">
                    <a href="#"><div class="xiu-bg"></div></a>
                    <div class="xiu-nei m-5">
                        <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                        <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </dt>

            <!--内容-->
            <dd>
                <!--标题-->
                <div class="title">
                
                    <div class="radius14"><img src="images/product_s4.png"></div>
                    <span class="zi3"><a href="#">ZCOOL站酷</a></span>
                    <div class="pull-right m-t5">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </a>
                    </div>
                </div>

                <!--描述-->
                <div class="pro-main">
                    <p>好莱坞精彩影视海报欣赏</p>
                    <span>经典海报:50张漂亮的好莱坞电影海报欣赏</span>
                </div>

                <!--人数-->
                <div class="pinglun">               
                    <ul class="list-inline">
                        <li><i class="fa fa-eye"></i> 73485</li>
                        <li><i class="fa fa-heart"></i> 1238</li>
                        <li><i class="fa fa-comment"></i> 4346</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    
    <div class="product radius5">
        <dl>
            <!--主图-->
            <dt>
                <a href="#"><img src="images/product_5.png"></a>
                <!--自己的作品-->
                <div class="xiu">
                    <a href="#"><div class="xiu-bg"></div></a>
                    <div class="xiu-nei m-5">
                        <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                        <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </dt>

            <!--内容-->
            <dd>
                <!--标题-->
                <div class="title">
                    <div class="radius14"><img src="images/product_s7.png"></div>
                    <span class="zi3"><a href="#">Rock Tray</a></span>
                    <div class="pull-right m-t5">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </a>
                    </div>
                </div>

                <!--描述-->
                <div class="pro-main">
                    <p>HAPPY HORSE YEAR</p>
                    <span>HAPPY HORSE YEAR to 2014!!
dANCING! BABY!
YEAH!</span>
                </div>

                <!--人数-->
                <div class="pinglun">
                    <ul class="list-inline">
                        <li><i class="fa fa-eye"></i> 73485</li>
                        <li><i class="fa fa-heart"></i> 1238</li>
                        <li><i class="fa fa-comment"></i> 4346</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    
    <div class="product radius5">
        <dl>
            <!--主图-->
            <dt>
                <a href="#"><img src="images/product_6.png"></a>
                <!--自己的作品-->
                <div class="xiu">
                    <a href="#"><div class="xiu-bg"></div></a>
                    <div class="xiu-nei m-5">
                        <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                        <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </dt>

            <!--内容-->
            <dd>
                <!--标题-->
                <div class="title">
                    <div class="radius14"><img src="images/product_s6.png"></div>
                    <span class="zi3"><a href="#">Ante Matijaca</a></span>
                    <div class="pull-right m-t5">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </a>
                    </div>
                </div>

                <!--描述-->
                <div class="pro-main">
                    <p>Card Interactions</p>
                    <span>Just sketching a few small card 
interactions for music player.</span>
                </div>
                
                <!--人数-->
                <div class="pinglun">
                    <ul class="list-inline">
                        <li><i class="fa fa-eye"></i> 73485</li>
                        <li><i class="fa fa-heart"></i> 1238</li>
                        <li><i class="fa fa-comment"></i> 4346</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
    
    <div class="product radius5">
        <dl>
            <!--主图-->
            <dt>
                <a href="#"><img src="images/product_6.png"></a>
                <!--自己的作品-->
                <div class="xiu">
                    <a href="#"><div class="xiu-bg"></div></a>
                    <div class="xiu-nei m-5">
                        <a href="#" class="btn btn-default m-r5" title="下载"><i class="fa fa-download"></i></a>
                        <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                        <a href="#" class="btn btn-default m-r5 pull-right" title="喜爱"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
            </dt>

            <!--内容-->
            <dd>
                <!--标题-->
                <div class="title">
                    <div class="radius14"><img src="images/product_s6.png"></div>
                    <span class="zi3"><a href="#">Ante Matijaca</a></span>
                    <div class="pull-right m-t5">
                        <a href="#" class="btn btn-default btn-xs">
                            <i class="fa fa-plus color-yello"></i>
                            关注
                        </a>
                    </div>
                </div>

                <!--描述-->
                <div class="pro-main">
                    <p>Card Interactions</p>
                    <span>Just sketching a few small card 
interactions for music player.</span>
                </div>
                
                <!--人数-->
                <div class="pinglun">
                    <ul class="list-inline">
                        <li><i class="fa fa-eye"></i> 73485</li>
                        <li><i class="fa fa-heart"></i> 1238</li>
                        <li><i class="fa fa-comment"></i> 4346</li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>

</div>