<div class="works-bg"></div>

<div class="works-box">       
    <div class="work-main">
    <!--S 作品主要内容-->
        <div class="work-main-box radius5">
           <div class="title bai-bg">
                <p>HAPPY HORSE YEAR</p>
                <span>HAPPY HORSE YEAR to 2014!! dANCING! BABY! YEAH!</span>
            </div>
            
            <div class="nei">
                <iframe src="images/works.png"></iframe>
                
                <div class="cheng-bg">
                    <a href="#">
                        <img src="images/love.png">
                        <span>543</span>
                    </a>
                </div>
            </div>
            
            <div class="comment">
                <ul>
                    <li>
                        <div class="my">
                            <img src="images/denglu/guanzhu_5.png">
                            <textarea></textarea>
                        </div>
                        <p class="radius5 cheng-bg"><a href="#">评论</a></p>
                    </li>
                    
                    <li>
                        <dl>
                            <dt><img src="images/denglu/guanzhu_10.png"></dt>
                            <dd>
                                <div><p class="zi3"><a href="#">JoshYash</a></p>22小时前</div>
                                <span>很喜欢你的创作，包括在LOFTER的时候</span>
                            </dd>
                        </dl>
                    </li>
                    
                     <li>
                        <dl>
                            <dt><img src="images/denglu/guanzhu_11.png"></dt>
                            <dd>
                                <div><p class="zi3"><a href="#">好人小徐</a></p>1天前</div>
                                <span>现在我只是想做一匹狼，让这个故事变得完整</span>
                            </dd>
                        </dl>
                    </li>
                    
                     <li class="last">
                        <dl>
                            <dt><img src="images/denglu/guanzhu_8.png"></dt>
                            <dd>
                                <div><p class="zi3"><a href="#">Nick Cooper</a></p>1天前</div>
                                <span>Excellent project, well done A few days ago I created a template https://www.behance.net/galle...-Page-Тэме Perhaps it will interest you, such as your portfolio, or for other purposes.
Good luck</span>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="tui-work">
            <div class="product radius5">
                <dl>
                    <!--主图-->
                    <dt>
                        <a href="#"><img src="images/product_1.png"></a>
                        <!--看别人的作品-->
                        <div class="xiu">
                            <div class="xiu-bg"></div>
                            <div class="xiu-nei m-5">
                                <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                                <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </dt>

                    <!--内容-->
                    <dd>
                        <!--标题-->
                        <div class="title">
                            <div class="radius14"><img src="images/product_s1.png"></div>
                            <span class="zi3"><a href="作品.html">QQ音乐</a></span>
                            <div class="pull-right m-t5">
                                <a href="#" class="btn btn-default btn-xs">
                                    <i class="fa fa-plus color-yello"></i>
                                    关注
                                </a>
                            </div>
                        </div>

                        <!--描述-->
                        <div class="pro-main">
                            <p>MONTY ARE I</p>
                            <span>Monty Are I is titled after the band instructor, Arthur Montanaro. The "Are I" portion of the name is...</span>
                        </div>

                        <!--人数-->
                        <div class="pinglun">                
                            <ul class="list-inline">
                                <li><i class="fa fa-eye"></i> 73485</li>
                                <li><i class="fa fa-heart"></i> 1238</li>
                                <li><i class="fa fa-comment"></i> 4346</li>
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
            
            <div class="product radius5">
                <dl>
                    <!--主图-->
                    <dt>
                        <a href="#"><img src="images/product_2.png"></a>
                        <!--自己的作品-->
                        <div class="xiu">
                            <div class="xiu-bg"></div>
                            <div class="xiu-nei m-5">
                                <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                                <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </dt>

                    <!--内容-->
                    <dd>
                        <!--标题-->           
                        <div class="title">
                            <div class="radius14"><img src="images/product_s2.png"></div>
                            <span class="zi3"><a href="#">UI中国</a></span>
                            <div class="pull-right m-t5">
                                <a href="#" class="btn btn-default btn-xs">
                                    <i class="fa fa-plus color-yello"></i>
                                    关注
                                </a>
                            </div>
                        </div>

                        <!--描述-->
                        <div class="pro-main">
                            <p>更多混合图形设计灵感</p>
                            <span>我们的平面设计部分是从北方的更频繁更新的类别之一，并包含一个很好的混合设计灵感来自不同的设计领域。</span>
                        </div>

                        <!--人数-->
                        <div class="pinglun">
                            <ul class="list-inline">
                                <li><i class="fa fa-eye"></i> 73485</li>
                                <li><i class="fa fa-heart"></i> 1238</li>
                                <li><i class="fa fa-comment"></i> 4346</li>
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
            
            <div class="product radius5">
                <dl>
                    <!--主图-->
                     <dt>
                        <a href="#"><img src="images/product_3.png"></a>
                        <!--别人的作品-->
                        <div class="xiu">
                            <div class="xiu-bg"></div>
                            <div class="xiu-nei m-5">
                                <a href="#" class="btn btn-default m-r5" title="修改"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="btn btn-default m-r5" title="分享"><i class="fa fa-mail-forward"></i></a>
                                <a href="#" class="btn btn-default m-r5 pull-right" title="添加"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </dt>

                    <!--内容-->
                    <dd>
                        <!--标题-->
                        <div class="title">
                            <div class="radius14"><img src="images/product_s3.png"></div>
                            <span class="zi3"><a href="#">Paul Flavius Nec</a></span>
                            <div class="pull-right m-t5">
                                <a href="#" class="btn btn-default btn-xs">
                                    <i class="fa fa-plus color-yello"></i>
                                    关注
                                </a>
                            </div>
                        </div>
                        
                        <!--描述-->
                        <div class="pro-main">
                            <p>Day 026 - Event Box</p>
                            <span>This is day 026.My challenge for today is an Event Box.I invite you all to rebound this shot and create your...</span>
                        </div>

                        <!--人数-->
                        <div class="pinglun">
                            <ul class="list-inline">
                                <li><i class="fa fa-eye"></i> 73485</li>
                                <li><i class="fa fa-heart"></i> 1238</li>
                                <li><i class="fa fa-comment"></i> 4346</li>
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--E 作品主要内容-->
    
    <div class="work-name radius5">
    <!--S 作品作者-->
        <dl>
            <dt class="radius18"><img src="images/product_s5.png"></dt>
            <dd>
                <p class="zi3"><a href="#">Rock Tray</a></p>
                <span>假装在海外的华裔设计师</span>
            </dd>
        </dl>
        
        <ul>
            <li>
                <p>关注</p>
                <span>315</span>
            </li>
            <li>
                <p>粉丝</p>
                <span>9527</span>
            </li>
            <li>
                <p>作品</p>
                <span>21</span>
            </li>
        </ul>
        
        <div class="cheng-bg"><a href="#"><p>+</p><span>关&nbsp;&nbsp;&nbsp;注</span></a></div>
        <div class="bai-bg"><a href="#"><img src="images/denglu/denglu_icon3.png"><span>会&nbsp;&nbsp;&nbsp;话</span></a></div>
    </div>
    <!--E 作品作者-->
    
    <div class="back">
        <a href="已登录已关注.html">
            <p class="back-bg"></p>
            <div class="ti ti-close"></div>
        </a>
     </div>
</div>